/* Dark mode colors. */
:root {
	--sl-color-accent-low: #282222;
	--sl-color-accent: #796462;
	--sl-color-accent-high: #cfc6c6;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #efeded;
	--sl-color-gray-2: #c4c1c1;
	--sl-color-gray-3: #8f8a8a;
	--sl-color-gray-4: #5c5757;
	--sl-color-gray-5: #3c3737;
	--sl-color-gray-6: #2a2626;
	--sl-color-black: #1a1818;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #dbd5d5;
	--sl-color-accent: #7b6664;
	--sl-color-accent-high: #39302f;
	--sl-color-white: #1a1818;
	--sl-color-gray-1: #2a2626;
	--sl-color-gray-2: #3c3737;
	--sl-color-gray-3: #5c5757;
	--sl-color-gray-4: #8f8a8a;
	--sl-color-gray-5: #c4c1c1;
	--sl-color-gray-6: #efeded;
	--sl-color-gray-7: #f7f6f6;
	--sl-color-black: #ffffff;
}
